<!DOCTYPE html>
<html>
<head>
    <title>BitTacklr - Blog</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name=viewport content="width=device-width, height=device-height, initial-scale=1">
    <meta name="author" content="Yves Reynhout" />
    <meta name="keywords" content="bittacklr,yves reynhout,consultant,contractor,architect,developer,software,analysis,design,teach,coding,domain driven design,ddd,command query responsibility seggregation,cqrs,event sourcing,es,messaging,aggregatesource,as,projac,eventstore,distributed systems,architecture" />
    <meta name="description" content="The BitTacklr Blog" />
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="blog.css" />
    <link rel="alternate" type="application/atom+xml"  title="The BitTacklr Blog" href="bittacklr-atom.xml" />
    <!-- Google Analytics -->
    <script type="text/javascript">
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-45897245-1', 'auto');
ga('send', {
  hitType: 'pageview',
  title: 'blog',
  page: location.pathname
});
    </script>
    <script async type="text/javascript" src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
</head>
<body>
    <div id="smallcontent">
        <div class="smallyearcontent">
            <div class="smallyear"><span data-id="year">2017</span></div>
            <nav>
                <ul>
                    <li data-id="post"><a href=""></a></li>
                </ul>
            </nav>
        </div>
        <div id="smallbiticon">
            <a href="home.html">
                <img src="images/bittacklr-gohome.svg" alt="The BitTacklr icon" title="The BitTacklr icon" />
            </a>
        </div>
    </div>
    <div id="largecontent"></div>
</body>
</html>