<!DOCTYPE html>
<html lang="en">

<head>
    <title>BitTacklr - Blog - Copyright 2018</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta name="author" content="Yves Reynhout" />
    <meta name="keywords" content="bittacklr,yves reynhout,consultant,contractor,architect,developer,software,analysis,design,teach,coding,domain driven design,ddd,command query responsibility segregation,cqrs,event sourcing,es,messaging,aggregatesource,projac,eventstore,distributed systems,architecture" />
    <meta name="description" content="The BitTacklr Blog" />
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="blog.css" />
    <!-- Sentry.IO -->
    <script src="https://cdn.ravenjs.com/3.21.0/raven.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">Raven.config('https://6b25c5db43eb40b7828bd0e2ab6efd68@sentry.io/169712').install();</script>
    <!-- End Sentry.IO -->
    <script type="text/javascript" src="fallback.js"></script>
    <script type="text/javascript" src="menu.js"></script>
    <link rel="alternate" type="application/atom+xml" title="The BitTacklr Blog" href="bittacklr-atom.xml" />
    <!-- Google Analytics -->
    <script type="text/javascript">
        window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
        ga('create', 'UA-45897245-1', 'auto');
        ga('send', {
            hitType: 'pageview',
            title: 'blog',
            page: location.pathname
        });
    </script>
    <script async type="text/javascript" src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
</head>

<body>
    <div id="smallcontent">
        <div class="smallyearcontent">
            <div class="smallyear"><span data-id="year"></span></div>
            <nav>
                <ul>
                    <li data-id="post"><a href=""></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="largecontent">
        <div id="largecontentbox">
            <div id="largelist">
                <div class="largeyearcontent">
                    <div class="largeyear"><span data-id="year"></span></div>
                    <nav>
                        <ul>
                            <li data-id="post"><a href=""></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div id="largebiticon"><img src="images/bittacklr-icon.svg" alt="Copyright 2018 - BitTacklr BVBA" title="Copyright 2018 - BitTacklr BVBA"></div>
        <div id="largemenu">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="training.html">Training</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="policy.html">Policy</a></li>
            </ul>
        </div>
        <div id="largemenubutton">
            <ul id="largemenuhamburger" onclick="toggleMenu();">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</body>

</html>