@import "colors.less";
@import "shared.less";
/* shared */
body 
{
    margin: 0px;
    padding: 0px;
    min-width: 320px;
    height: 100%;
}
@media (min-width: 720px) 
{
    html { 
        .backgroundcover("images/largehome.svg");
    }
    #smallcontent 
    {
        display: none;
    }
    #largecontent 
    {
        display: block;
    }
}
@media (max-width: 720px) 
{
    html { 
        .backgroundcover("images/smallhome.svg");
    }
    #largecontent 
    {
        display: none;
    }
    #smallcontent
    {
        display: flex;
    }
}
/* small */
#smallcontent 
{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.smallyearcontent {
    font-family: monospace;
    font-size: xx-large;
    color: @bittacklr-white;
    width: 100%;
}
.smallyearcontent ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.smallyearcontent li {
    list-style: none;
    text-align: center;
    background-color: #000000;
    padding: 10px;
    border-bottom: 1px solid @bittacklr-red;
    box-sizing: border-box;
}
.smallyearcontent a {
    color: @menutext-color;
    font-family: monospace;
    font-size: x-large;
    text-decoration: none;
    display: block;
    width: 100%;
}
.smallyearcontent a:hover {
    color: @menutext-hover-color;
}
.smallyear {
    margin: 0px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #555555;
}
/* large */
#largecontent 
{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
#largecontentbox
{
    position: fixed;
    top: 50%;
    left: 50%;
    .transform-center();
    margin: 0px;
    padding: 0px;
    min-width: 50%;
    max-height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    color: @menutext-color;
    font-family: monospace;
    
    border: 1px solid @bittacklr-red;
}
.largeyearcontent {
    font-family: monospace;
    font-size: xx-large;
    color: @bittacklr-white;
    width: 100%;
}
.largeyearcontent ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.largeyearcontent li {
    list-style: none;
    text-align: center;
    background-color: #000000;
    padding: 10px;
    border-bottom: 1px solid @bittacklr-red;
    box-sizing: border-box;
}
.largeyearcontent a {
    color: @menutext-color;
    font-family: monospace;
    font-size: x-large;
    text-decoration: none;
    display: block;
    width: 100%;
}
.largeyearcontent a:hover {
    color: @menutext-hover-color;
}
.largeyear {
    margin: 0px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #555555;
}
